@use "../abstracts/" as *;

p {
  font-size: 16px;
  // MEDIA-QUERIES
  @include display(sm-phone) {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: map-get($font-weights, medium);
}
h1 {
  font-size: 2.5rem;
}
h3 {
  // MEDIA-QUERIES
  @include display(sm-phone) {
    font-size: 17px;
  }
}

.text-light {
  color: $light;
}

a {
  color: $primary-color;
  transition: $transition;
  &:hover {
    color: $white;
  }
}
