/* === COLORS === */
/* === FONTS === */
/* === CONTAINERS === */
/* === TRAANSITIONS === */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
}

body {
  box-sizing: border-box;
  background-color: #1f1f38;
  background-image: url(../../public/assets/bg-texture.png);
  color: #fff;
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* === RESPONSIVE DESIGN === */
/* === BUTT0N === */
.btn {
  width: max-content;
  display: inline-block;
  color: #fff;
  padding: 0.75rem 1.2rem;
  border: 1px solid #4db5ff;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.3s all ease;
}
.btn:hover {
  background-color: #fff;
  color: #1f1f38;
  border-color: transparent;
}
.btn--primary {
  background-color: #4db5ff;
  color: #1f1f38;
}
@media only screen and (max-width: 370px) {
  .btn {
    font-size: 12px;
    padding: 0.45rem 0.6rem;
  }
}

p {
  font-size: 16px;
}
@media only screen and (max-width: 370px) {
  p {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

@media only screen and (max-width: 370px) {
  h3 {
    font-size: 17px;
  }
}

.text-light {
  color: rgba(255, 255, 255, 0.6);
}

a {
  color: #4db5ff;
  transition: 0.3s all ease;
}
a:hover {
  color: #fff;
}

.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}
.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, #4db5ff, transparent);
  display: grid;
  place-items: center;
}
.about__me-image {
  overflow: hidden;
  border-radius: 2rem;
  transform: rotate(10deg);
  transition: 0.3s all ease;
}
.about__me-image:hover {
  transform: rotate(0);
}
.about__content .about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.about__content .about__card {
  background-color: #2c2c6c;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: 0.3s all ease;
  cursor: default;
}
.about__content .about__card:hover {
  background-color: transparent;
  border-color: #4db5ff;
}
.about__content .about__card .about__icon {
  color: #4db5ff;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.about__content .about__card h5 {
  font-size: 0.95rem;
}
.about__content .about__card small {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.6);
}
.about__content p {
  margin: 2rem 0 2.6rem;
  color: rgba(255, 255, 255, 0.6);
}
@media only screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }
  .about__content {
    text-align: center;
  }
  .about__content .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .about__content p {
    margin: 1.5rem 0;
  }
}
@media only screen and (max-width: 370px) {
  .about__content .about__cards {
    grid-template-columns: 1fr;
    gap: 0.8rem;
  }
}

.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.experience__container > div {
  background-color: #2c2c6c;
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: 0.3s all ease;
}
.experience__container > div:hover {
  background-color: transparent;
  border-color: #4db5ff;
  cursor: default;
}
.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: #4db5ff;
}
.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}
.experience__details {
  display: flex;
  gap: 1rem;
}
.experience__details-icon {
  margin-top: 6px;
  color: #4db5ff;
}
@media only screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }
  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .experience__content {
    padding: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }
  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
@media only screen and (max-width: 370px) {
  .experience__content {
    grid-template-columns: 1fr;
    row-gap: 1.2rem;
  }
}

.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.services .service {
  background-color: #2c2c6c;
  border-radius: 0 0 2rem 2rem;
  border: 1px solid #4db5ff;
  height: fit-content;
  transition: 0.3s all ease;
  cursor: default;
}
.services .service:hover {
  background-color: transparent;
  border-color: rgba(77, 181, 255, 0.4);
}
.services .service__head {
  background-color: #4db5ff;
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.services .service__head h3 {
  color: #1f1f38;
  font-size: 1rem;
  text-align: center;
}
.services .service__list {
  /* padding: 2rem;
  li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
    .service__list-icon {
      color: $primary-color;
      margin-top: 0.2rem;
    }
    p {
      font-size: 0.9rem;
    }
  } */
  padding: 2rem;
  padding-left: 4rem;
}
.services .service__list li {
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.services .service__list li .service__list-icon {
  color: #4db5ff;
  margin-top: 0.2rem;
  margin-left: -2rem;
  margin-right: 1rem;
  transform: translateY(2px);
}
.services .service__list li p {
  font-size: 0.9rem;
  display: inline;
}
@media only screen and (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .services .service {
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portfolio__item {
  background-color: #2c2c6c;
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: 0.3s all ease;
  cursor: default;
}
.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}
.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
  position: relative;
  width: fit-content;
  z-index: 3;
}
.portfolio__item h3::before {
  content: "";
  opacity: 0;
  bottom: 0;
  width: 100%;
  height: 14px;
  transform: skew(-10deg, -3deg);
  background: rgba(26, 160, 255, 0.4);
  z-index: -1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.portfolio__item:hover {
  border-color: rgba(77, 181, 255, 0.4);
  background-color: transparent;
}
.portfolio__item:hover h3::before {
  opacity: 1;
}
@media only screen and (max-width: 1200px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 1024px) {
  .portfolio__container {
    gap: 1.2rem;
  }
}
@media only screen and (max-width: 800px) {
  .portfolio__container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .portfolio__container {
    gap: 1rem;
  }
}
@media only screen and (max-width: 370px) {
  .portfolio__item {
    padding: 1rem;
    border-radius: 1rem;
  }
  .portfolio__item-cta {
    margin-bottom: 0;
  }
}

.container.quotes__container {
  width: 40%;
  padding-bottom: 4rem;
}
.container.quotes__container .swiper-pagination-clickable .swiper-pagination-bullet {
  background-color: #4db5ff;
}
@media only screen and (max-width: 1024px) {
  .container.quotes__container {
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .container.quotes__container {
    width: 90%;
  }
}

.quotes .quote {
  background-color: #2c2c6c;
  min-height: 320px;
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
}
.quotes .quote .client__avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid rgba(77, 181, 255, 0.4);
}
.quotes .quote .client__review {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}
@media only screen and (max-width: 600px) {
  .quotes .quotes .client__review {
    width: 90%;
  }
}
@media only screen and (max-width: 370px) {
  .quotes .quotes {
    min-height: 400px;
  }
}

.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}
@media only screen and (max-width: 1200px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .container.contact__container {
    width: 90%;
  }
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact__option {
  background-color: #2c2c6c;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: 0.3s all ease;
  cursor: default;
  word-break: break-all;
}
.contact__option:hover {
  background-color: transparent;
  border-color: rgba(77, 181, 255, 0.4);
}
.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}
.contact form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact form input,
.contact form textarea {
  font-size: 16px;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 2px solid rgba(77, 181, 255, 0.4);
  resize: none;
  color: #fff;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}
.header__socials::after {
  content: "";
  width: 1px;
  height: 3rem;
  background-color: #4db5ff;
}
@media only screen and (max-width: 600px) {
  .header__socials {
    display: none;
  }
}

.container {
  max-width: 75%;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 86%;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    max-width: 90%;
  }
}

section {
  margin-top: 6rem;
  padding-top: 2rem;
  min-height: 100vh;
}
section > h2, section > h5 {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
section > h2 {
  color: #4db5ff;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 1024px) {
  section {
    margin-top: 4rem;
    padding-top: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  section > h2 {
    margin-bottom: 2rem;
  }
}

.header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}
.header__container .me {
  background: linear-gradient(#4db5ff, transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}
.header__container .scroll-down {
  position: absolute;
  right: 0;
  bottom: 3rem;
  transform-origin: bottom right;
  transform: rotate(90deg);
  font-weight: 400;
  font-size: 0.9rem;
}
@media only screen and (max-width: 1024px) {
  .header {
    min-height: 68vh;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    height: 100vh;
  }
  .header__container .scroll-down {
    display: none;
  }
}
@media only screen and (max-width: 370px) {
  .header {
    padding-top: 1rem;
  }
  .header__container .me {
    width: 17rem;
    left: calc(50% - 8.5rem);
  }
}

.nav {
  background-color: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 5;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  animation: nav 1s ease-in-out;
}
.nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.1rem;
}
.nav a:hover {
  color: #fff;
  background-color: rgba(77, 181, 255, 0.4);
}
.nav .active {
  background-color: #4db5ff;
  color: #1f1f38;
}
@media only screen and (max-width: 370px) {
  .nav {
    padding: 0.7rem 1rem;
    gap: 0.5rem;
  }
  .nav a {
    padding: 0.7rem;
  }
}

@keyframes nav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footer {
  background-color: #4db5ff;
  padding: 3rem 0;
  font-size: 0.9rem;
  margin-top: 7rem;
  text-align: center;
}
.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
  color: #1f1f38;
}
.footer .permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}
.footer .permalinks li a {
  color: #1f1f38;
}
.footer .permalinks li a:hover {
  color: #fff;
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}
.footer__socials a {
  background-color: #1f1f38;
  color: #fff;
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
  transition: 0.3s all ease;
}
.footer__socials a:hover {
  background-color: transparent;
  color: #1f1f38;
  border-color: #1f1f38;
}
.footer__copyright {
  margin-bottom: 4rem;
  color: #1f1f38;
}
@media only screen and (max-width: 600px) {
  .footer .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer__socials {
    margin-bottom: 2.6rem;
  }
}

/* ========================  
TABLE OF CONTENTS:
- base imports
- component imports
- layout imports
======================== */
/* base imports */
/* components imports */
/* layout imports */

/*# sourceMappingURL=main.css.map */
