@use "../abstracts/" as *;

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
  &::after {
    content: "";
    width: 1px;
    height: 3rem;
    background-color: $primary-color;
  }

  // MEDIA-QUERIES
  @include display(phone) {
    display: none;
  }
}
