/* === COLORS === */

$background-color: #1f1f38;
$background-variant-color: #2c2c6c;
$primary-color: #4db5ff;
$primary-variant-color: rgba(77,181,255,0.4);
$white: #fff;
$light: rgba(255,255,255,0.6);

// $theme-colors: (
//   "primary": $red,
//   "secondary": $blue,
//   "warning": $yellow,
// );

/* === FONTS === */
// @import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
$font-weights: (
	"regular": 400,
	"bold": 700,
);
$primary-font: "Kumbh Sans", sans-serif;

/* === CONTAINER === */
$width-lg: 75%;
$width-md: 86%;
$width-sm: 90%;
