/* === COLORS === */
$background-color: #1d1919;
$background-variant-color: #233142;
$primary-color: #f7af1d;
$primary-variant-color: rgba(247, 175, 29, 0.4);
$white: #e6e6e6;
$light: rgba(255, 255, 255, 0.6);
$gold: #ffd700;
$theme-colors: (
  "primary": $primary-color,
);

/* === FONTS === */
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
);
$primary-font: "Poppins", sans-serif;

/* === CONTAINERS === */
$width-lg: 75%;
$width-md: 86%;
$width-sm: 90%;

/* === TRAANSITIONS === */
$transition: 0.3s all ease;
