/* === COLORS === */
$background-color: #1f1f38;
$background-variant-color: #2c2c6c;
$primary-color: #4db5ff;
$primary-variant-color: rgba(77, 181, 255, 0.4);
$white: #fff;
$light: rgba(255, 255, 255, 0.6);
$theme-colors: (
  "primary": $primary-color,
);

/* === FONTS === */
// @import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;400;700&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
);
// $primary-font: "Kumbh Sans", sans-serif;
$primary-font: "Poppins", sans-serif;

/* === CONTAINERS === */
$width-lg: 75%;
$width-md: 86%;
$width-sm: 90%;

/* === TRAANSITIONS === */
$transition: 0.3s all ease;
