@use "../abstracts/" as *;

.main {
  // max-width: 1110px;
  @include display(tab-port) {
  }
  @include display(phone) {
  }
}

.container {
  max-width: $width-lg;
  margin: 0 auto;

  // MEDIA-QUERIES
  @include display(tab-port) {
    max-width: $width-md;
  }
  @include display(phone) {
    max-width: $width-sm;
  }
}

section {
  margin-top: 6rem;
  padding-top: 2rem;

  min-height: 100vh;
  // height: 100vh;
  & > h2,
  & > h5 {
    text-align: center;
    color: $light;
  }
  & > h2 {
    color: $primary-color;
    margin-bottom: 3rem;
  }

  // MEDIA-QUERIES
  @include display(tab-port) {
    margin-top: 4rem;
    padding-top: 1rem;
  }
  @include display(phone) {
    & > h2 {
      margin-bottom: 2rem;
    }
  }
}
