@use "../abstracts/" as *;

.main {
  // max-width: 111rem;
  // min-height: calc(100vh - 80px);
  // margin: 0 auto;
  // padding: 9rem 4rem;
  // padding-bottom: 4rem;

  // display: grid;
  // gap: 10rem;

  @include display(tab-port) {
    // padding: 6rem 4rem;
    // padding-bottom: 4rem;
  }
  @include display(phone) {
    // padding: 0;
    // padding-bottom: 12rem;
  }
}

.container {
  width: $width-lg;
  margin: 0 auto;

  // MEDIA-QUERIES
  @include display(tab-port) {
    width: $width-md;
  }
  @include display(phone) {
    width: $width-sm;
  }
}

section {
  margin-top: 8rem;
  h2,
  h5 {
    text-align: center;
    color: $light;
  }
  h2 {
    color: $primary-color;
    margin-bottom: 3rem;
  }

  // MEDIA-QUERIES
  @include display(tab-port) {
    margin-top: 6rem;
  }
  h2 {
    @include display(phone) {
      margin-bottom: 20rem;
    }
  }
}
