@use "../abstracts/" as *;

.main {
  // max-width: 111rem;
  // min-height: calc(100vh - 80px);
  // margin: 0 auto;
  // padding: 9rem 4rem;
  // padding-bottom: 4rem;

  // display: grid;
  // gap: 10rem;

  @include display(tab-port) {
    // padding: 6rem 4rem;
    // padding-bottom: 4rem;
  }
  @include display(phone) {
    // padding: 0;
    // padding-bottom: 12rem;
  }
}

.container {
  // width: $width-lg;
  max-width: $width-lg;
  margin: 0 auto;

  // MEDIA-QUERIES
  @include display(tab-port) {
    // width: $width-md;
    max-width: $width-md;
  }
  @include display(phone) {
    // width: $width-sm;
    max-width: $width-sm;
  }
}

section {
  margin-top: 6rem;
  padding-top: 2rem;

  min-height: 100vh;
  // height: 100vh;
  & > h2,
  & > h5 {
    text-align: center;
    color: $light;
  }
  & > h2 {
    color: $primary-color;
    margin-bottom: 3rem;
  }

  // MEDIA-QUERIES
  @include display(tab-port) {
    margin-top: 4rem;
    padding-top: 1rem;
  }
  @include display(phone) {
    & > h2 {
      margin-bottom: 2rem;
    }
  }
}
