@use "../abstracts/" as *;

.nav {
  background-color: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 5;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: $light;
    font-size: 1.1rem;
    &:hover {
      color: $white;
      background-color: $primary-variant-color;
    }
  }
  .active {
    background-color: $primary-color;
    color: $background-color;
    filter: drop-shadow(0 0 5px $gold);
  }
  animation: nav 1s ease-in-out;

  // MEDIA-QUERIES
  @include display(sm-phone) {
    padding: 0.7rem 1rem;
    gap: 0.5rem;
    a {
      padding: 0.7rem;
    }
  }
}

@keyframes nav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
